body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  overflow: hidden;  
  color: rgb(0, 57, 86);
}

::selection {
  background-color: rgb(186, 203, 214);
}

#func_bar {
  background-color: rgb(240, 240, 240);
  gap: 2mm;
  padding: 2mm;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 12fr 2fr;
  grid-template-areas: 'gohome search mode . more';
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#gohome {
  grid-area: gohome;
}

#search {
  background-color: rgb(245, 245, 245);
  grid-area: search;
  height: 7mm;
  padding: 1mm 2mm;
  font-weight: bold;
  font-size: 4mm;
}

#search_result {
  position: absolute;
  top: 1.3cm;
  height: min(8cm, calc(100% - 1.9cm));
  left: 1cm;
  width: 30%;
  margin: 2mm;
  padding: 1mm;
  background-color: rgb(240, 240, 240);
  display: none;
  flex-direction: column;
  border-radius: 2mm;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  overflow-y: auto;
}

::-webkit-scrollbar {
  background-color: inherit;
  width: 2mm;
  border-radius: inherit;
}

::-webkit-scrollbar-thumb {
  border-radius: 1mm;
  background-color: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track {
  margin: 1mm;
}

#search_result > p {
  color: rgb(0, 57, 86, 0.6);
  text-align: center;
  font-size: 3.2mm;
  margin: 2mm 0mm;
}

#search_result > .radius_setting {
  font-size: 3.6mm;
  font-weight: bold;
  display: flex;
  padding: 0mm 3.2mm;
  margin-bottom: 2mm;
}

.radius_setting > p {
  width: 1.8cm;
  margin: 0mm;
}

.radius_setting > input {
  width: calc(100% - 1.8cm);
}

.result_entry {
  display: flex;
  flex-direction: row;
  border-radius: 1.2mm;
  user-select: none;
}

.result_entry:hover {
  background-color: rgb(225, 230, 240);
}

.result_entry:active {
  background-color: rgb(210, 215, 225);
}

.result_entry p {
  font-weight: bolder;
  margin: 2mm 3.6mm 2mm 2mm;
}

.result_entry img {
  margin: 1.6mm 0mm 2mm 3mm;
}

input[type='text'], input[type='number'], textarea {
  border-width: 0px 0px 2px 0px;
  outline-width: 0px;
  border-radius: 1.2mm;
  border-color:  rgba(181, 213, 229, 0.3);
  outline-width: 0px; 
  transition: 0.3s;
}

input[type='text']:focus, input[type='number']:focus,  textarea:focus {
  border-color:  rgba(181, 213, 229, 1);
}

#search:hover, #search:focus {
  background-color: rgb(255, 255, 255);
}

.func_bar_button_group {
  user-select: none;
  display: flex;
  transition: 0.3s;
}

.func_bar_button_group img {
  width: 6mm;
}

.func_bar_button_group input {
  display: none;
}

#search_modes {
  grid-area: mode;
}

#additions {
  grid-area: more;
  display: grid;
  grid-template-columns: 1fr 1fr;
  direction: rtl;
}

.func_bar_button_group label, .add_but {
  background-color: rgb(240, 240, 240);
  width: 100%;
  display: flex;
  border-radius: 1.2mm;
  border: 0px;
  transition: 0.15s;
  padding: 0mm;
  align-items: center;
  justify-content: center;
}

.func_bar_button_group label:hover, .add_but:hover, .selections:hover {
  background-color: rgb(225, 230, 240);
}

.func_bar_button_group input:checked + label, .add_but:active, .selections:active {
  background-color: rgb(210, 215, 225);
}

.add_but:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

#save {
  display: none;
}

#cancel {
  display: none;
}

.more_panel {
  position: absolute;
  top: 1.3cm;
  margin: 2mm;
  padding: 1mm;
  background-color: rgb(240, 240, 240);
  display: none;
  flex-direction: column;
  border-radius: 2mm;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.more_panel input {
  display: none;
}

.more_panel input[type="radio"]:checked + label {
  background-color: rgb(210, 215, 225);
}

#modes_selections {
  left: calc(30% + 1.5cm);
}

#more_buttons {
  right: 0px;
}

.selections {
  display: flex;
  padding: 1mm;
  gap: 1mm;
  font-size: 3.8mm;
  border-radius: 1.2mm;
}

.selections img {
  width: 6mm;
}

.selections label {
  padding: 0mm 1mm;
}

#content {
  /* background-color: rgb(240, 240, 240); */
  background-size: 150% 150%;
  background-position: center;
  position: absolute;
  top: 1.3cm;
  /* height: 100%; */
  bottom: 0cm;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.25s;
  /* z-index: -1; */
}

#homepage {
  display: flex;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

#blur_img {
  position: absolute;
  /* background-color: red; */
  width: 100%;
  height: 100%;
  filter: blur(20px);
  opacity: 0.3;
  z-index: -1;
  transition: 0.3s;
}

#place_card {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 8cm;
  height: 6cm;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3mm;
  background-color: rgb(240, 240, 240);
  user-select: none;
  transition: 0.3s;
  overflow: hidden;
  z-index: 1;
}

#place_card:hover {
  transform: scale(110%);
}

#place_card:active {
  transform: scale(105%);
}

#preview {
  height: 4.5cm;
  background-size: cover;
}

#preview > img {
  margin: 4mm auto;
  width: 75%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
}

#card_info {
  background-color: rgb(245, 245, 245);
  height: 1.5cm;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2mm;
  padding: 2mm;
}

#card_info button {
  display: flex;
  width: 1cm;
  height: 1cm;
  border-radius: 50%;
  border-width: 0px;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#card_name {
  display: flex;
  width: calc(100% - 2.4cm);
  height: 100%;
  padding: 0mm 2mm;
  font-size: 4.4mm;
  font-weight: bold;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

#no_places_info {
  background-color: rgba(255, 215, 0, 0.75);
  color: rgba(39, 33, 0, 0.75);
  font-size: 3.6mm;
  font-weight: bold;
  display: none;
  width: 100%;
  margin: 0mm;
  padding: 1mm;
  justify-content: center;
  cursor:default;
}

#no_places_info:hover {
  background-color: rgb(255, 215, 0);
}

#list:hover {
  background-color: rgb(255, 244, 128);
}

#refresh:hover {
  background-color: rgb(113, 255, 113);
}

#list:active {
  background-color: rgb(255, 234, 0);
}

#refresh:active {
  background-color: rgb(0, 255, 0);
}

#place_list {
  width: 100%;
  display: none;
  flex-direction: column;
  overflow-y: auto;
  padding: 0cm 1cm 1cm 1cm;
}

#place_list .picker {
  margin: 5mm auto ;
  transform: scale(110%);
}

#place_list .result_entry {
  margin-bottom: 2mm;
  padding: 1mm 2mm;
}

#editPage {
  display: flex;
  flex-direction: column;
  padding: 1cm 1cm 1cm 1cm;
}

.infoPanel {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  margin-bottom: 5mm;
  padding: 5mm 8mm;
  border-radius: 2.4mm;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.infoPanel input, .infoPanel textarea {
  margin: 2mm 0mm 4mm 0mm;
  font-size: 4mm;
  padding: 1mm 2mm;
}

.infoPanel textarea {
  resize: none;
}

.infoPanel label {
  color: rgb(0, 57, 86);
  font-size: 5mm;
  font-weight: bold;
  margin-right: 2mm;
}

.infoPanel p {
  margin: -2.5mm 0mm 4mm 0mm;
  font-size: 3.6mm;
}

#coordinate input {
  margin-right: 4mm;
  width: 15%;
}

#dimension {
  display: flex;
  flex-direction: row;
}

#dimension p {
  margin: 3mm 0mm 0mm 5mm;
  font-size: 5mm;
  font-weight: bold;
}

.picker {
  display: flex;
  flex-direction: row;
  padding: 2mm 0mm 2mm 2mm;
  background-color: rgba(0, 57, 86, 0.1);
  border-radius: 2mm;
  margin-bottom: 4mm;
  width: 30mm;
}

#func, #pass {
  margin: 0mm 2mm 2mm 0mm;
}

#func + label, #pass + label {
  margin: 0mm 8mm 3mm 0mm;
}

#parent_result, #opposite_result {
  flex-wrap: wrap;
}

.imgLabel {
  background-color: rgba(240, 240, 240, 0);
  border-radius: 1.2mm;
  margin-right: 2mm;
  width: 8mm;
  transition: 0.3s;
  text-align: center;
  padding-top: 1.2mm;
  user-select: none;
}

.imgLabel img {
  opacity: 0.5;
}

.imgLabel:hover {
  background-color: rgba(240, 240, 240, 0.5);
}

.picker input:checked + label {
  background-color: rgba(240, 240, 240, 1);
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.picker input:checked + label img {
  opacity: 1;
}

.picker input {
  display: none;
}